<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="card-title">Create a new Drone</h5>
                    </div>
                    <form @submit.prevent="submitDrone">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">Drone Name</label>
                            <div class="col-sm-12">
                                <input type="text" id="name" v-model="droneName" class="form-control" required />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Add Drone</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            droneName: ''
        };
    },
    methods: {
        async submitDrone() {
            try {
                const response = await this.$http.post('/drones', {
                    name: this.droneName
                });
                alert(`Drone added: ${response.data.name}`);

                this.droneName = '';

                this.$router.push({ name: 'DroneIndex' });

            } catch (error) {
                console.error("There was an error adding the drone!", error);
            }
        }
    }
};
</script>