<template>
    <div class="row">
        <div class="col-md-12">
            <router-link to="/drones/create" class="btn btn-success mb-4" style="float:right">Create Drone</router-link>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Drone List</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="drone in drones" :key="drone.id">
                                <th scope="row">{{ drone.id }}</th>
                                <td>{{drone.name}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="">
                                        <button @click="editDrone(drone.id)" class="btn btn-primary">Edit</button> 
                                        <button @click="deleteDrone(drone.id)" class="btn btn-danger" >Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            drones: []
        };
    },
    created() {
        // Drone listesini yükle
        this.fetchDrones();
    },
    methods: {
        async fetchDrones() {
            try {
                const response = await this.$http.get('/drones');
                this.drones = response.data;
            } catch (error) {
                console.error('Failed to fetch drones:', error);
            }
        },
        editDrone(id) {
            // Drone düzenleme sayfasına yönlendirme
            this.$router.push({ name: 'EditView', params: { id } });
        },
        async deleteDrone(id) {
            if (!confirm('Are you sure you want to delete this drone?')) {
                return;
            }
            try {
                await this.$http.delete(`/drones/${id}`);
                alert(`Drone deleted successfully.`);
                // Silme işleminden sonra drone listesini yeniden yükle
                this.fetchDrones();
            } catch (error) {
                console.error('Failed to delete drone:', error);
            }
        },
        navigateToCreateDrone() {
            this.$router.push({ name: 'CreateView' }); // veya this.$router.push('/drones/create')
        },
    }
};
</script>

<style scoped>
/* Stil eklemeyin */
</style>