<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="card-title">Create a new Drone</h5>
                    </div>
                    <form @submit.prevent="updateDrone">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">Drone Name</label>
                            <div class="col-sm-12">
                                <input type="text" id="name" v-model="editedDrone.name" class="form-control" required />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="submit" @click="cancelEdit" class="btn btn-danger mx-2">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['id'],
    data() {
        return {
            editedDrone: {
                id: null,
                name: ''
            }
        };
    },
    created() {
        // Drone bilgisini yükle
        this.fetchDrone();
    },
    methods: {
        async fetchDrone() {
            try {
                const response = await this.$http.get(`/drones/${this.id}`);
                this.editedDrone.id = response.data.id;
                this.editedDrone.name = response.data.name;
            } catch (error) {
                console.error('Failed to fetch drone:', error);
            }
        },
        async updateDrone() {
            try {
                const response = await this.$http.put(`/drones/${this.id}`, {
                    name: this.editedDrone.name
                });
                alert(`Drone updated: ${response.data.name}`);
                this.$router.push({ name: 'DroneIndex' }); // Liste sayfasına yönlendirme
            } catch (error) {
                console.error('Failed to update drone:', error);
            }
        },
        cancelEdit() {
            this.$router.push({ name: 'DroneIndex' }); // Düzenleme iptalinde liste sayfasına geri dön
        }
    }
};
</script>

<style scoped>
/* Stil eklemeyin */
</style>