<template>
  <!-- <div id="app">
    <nav>
      <router-link to="/">Home</router-link> |
      <router-link to="/drones/create">Create Drone</router-link> |
      <router-link to="/tasks">Tasks</router-link>
    </nav>
    <router-view/>
  </div> -->

  <div id="app">
    <HeaderComponent />
    <SidebarComponent />
    <main id="main" class="main">
      <!-- <PagetitleComponent /> -->
      <section class="section dashboard">

      </section>
      <router-view />
    </main>
  </div>

</template>

<script>
import HeaderComponent from './components/HeaderComponent.vue';
import SidebarComponent from './components/SidebarComponent.vue';
// import PagetitleComponent from './components/PagetitleComponent.vue';

export default {
  name: 'App',
  components:{
    HeaderComponent,
    SidebarComponent,
    // PagetitleComponent
  }
};
</script>

<style>
/* Stil eklemeyin */
</style>
