<template>
    <!-- <div>
        <h2>Create New Task</h2>
        <form @submit.prevent="createTask">
            <label for="taskName">Task Name:</label>
            <input id="taskName" v-model="taskName" type="text" required>

            <label for="taskDescription">Task Description:</label>
            <textarea id="taskDescription" v-model="taskDescription" rows="4"></textarea>

            <label for="selectedDrones">Select Drones:</label>
            <select id="selectedDrones" v-model="selectedDrones" multiple>
                <option v-for="drone in drones" :key="drone.id" :value="drone.id">{{ drone.name }}</option>
            </select>

            <button type="submit">Create Task</button>
        </form>
    </div> -->


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="card-title">Create a new Task</h5>
                    </div>
                    <form @submit.prevent="createTask">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">Task Name</label>
                            <div class="col-sm-12">
                                <input type="text" id="name" v-model="taskName" class="form-control" required />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">Task Description</label>
                            <div class="col-sm-12">
                                <input type="text" id="description" v-model="taskDescription" class="form-control" required  maxlength="200"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">Select Drones</label>
                            <div class="col-sm-12">
                                <select id="selectedDrones" v-model="selectedDrones" multiple class="form-control" required>
                                    <option v-for="drone in drones" :key="drone.id" :value="drone.id">{{ drone.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Create Task</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            taskName: '',
            taskDescription: '',
            selectedDrones: [], // Burada seçilen droneların ID'lerini tutacağız
            drones: [] // Burada droneların listesini tutacağız
        };
    },
    async created() {
        await this.fetchDrones(); // Component oluşturulduğunda droneları getir
    },
    methods: {
        async fetchDrones() {
            try {
                const response = await this.$http.get('/drones'); // Droneları getir
                this.drones = response.data; // Gelen droneları diziye ata
            } catch (error) {
                console.error('Failed to fetch drones:', error);
            }
        },
        async createTask() {
            try {
                // Seçilen droneların ID'lerini al
                const droneIds = this.selectedDrones;

                // Payload oluştur
                const payload = {
                    name: this.taskName,
                    description: this.taskDescription,
                    drones: droneIds  // Sadece drone id'lerini gönderiyoruz
                };

                // /api/tasks endpoint'ine POST isteği yap
                await this.$http.post('/tasks', payload);

                // Başarı mesajı göster
                alert('Task created successfully.');

                // Formu sıfırla
                this.taskName = '';
                this.taskDescription = '';
                this.selectedDrones = [];

                // Anasayfaya yönlendir
                this.$router.push('/tasks');
            } catch (error) {
                console.error('Failed to create task:', error);
            }
        }
    }
};
</script>

<style scoped>
/* Stillemeler buraya eklenebilir */
</style>