<template>

    <div class="row">
        <dib class="col-md-12">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview"
                                aria-selected="true" role="tab">Overview</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
                            <h5 class="card-title">Task Description</h5>
                            <p class="small fst-italic">{{ task.description }}</p>

                            <h5 class="card-title">Task Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label text-primary">Task Name</div>
                                <div class="col-lg-9 col-md-8">{{ task.name }}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label text-primary">Drones</div>
                                <div v-for="drone in task.drones" :key="drone.id" class="col-md-1"><span
                                        class="badge bg-secondary text-white">{{ drone.name }}</span></div>
                            </div>

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>
        </dib>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    props: ['id'],
    data() {
        return {
            task: {}
        };
    },
    methods: {
        async fetchTask() {
            try {
                const response = await axios.get(`/tasks/${this.id}`);
                this.task = response.data;
            } catch (error) {
                console.error('Failed to fetch task:', error);
            }
        }
    },
    created() {
        this.fetchTask();
    }
};

</script>

<style scoped>
/* Optional styling */
</style>