<template>
  <!-- <div>
    <h2>Task Execute</h2>
    <p>Task ID: {{ taskId }}</p>
    <button @click="executeTask" :disabled="loading">
      Execute Task
    </button>
    <div v-if="loading">Loading...</div>
    <div v-if="!loading && images.length">
      <h3>Captured Images:</h3>
      <div v-for="image in images" :key="image">
        <img :src="image" :alt="`Image for task ${taskId}`" @error="removeImage(image)" />
      </div>
    </div>
    <div v-if="!loading && !images.length">
      <p>No images captured yet.</p>
    </div>
  </div> -->


  <div class="row">
    <dib class="col-md-12">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

            <li class="nav-item" role="presentation">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview"
                aria-selected="true" role="tab">Task Execute</button>
            </li>

          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
              <!-- <h5 class="card-title">Task Description</h5>
              <p class="small fst-italic">{{ task.description }}</p> -->

              <div class="row">
                <div class="col-lg-2 col-md-2 label text-primary">Task ID</div>
                <div class="col-lg-1 col-md-1">{{ taskId }}</div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button @click="executeTask" :disabled="loading" class="btn btn-primary my-4">
                    Execute Task
                  </button>
                </div>
              </div>

              <h5 class="card-title">Captured Images</h5>

              <div class="row">
                <div class="col-md-12">

                  <div v-if="loading">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row" v-if="!loading && images.length">
                <div class="col-md-4 card" v-for="image in images" :key="image" >
                  <img :src="image" :alt="`Image for task ${taskId}`" class="card-img-top" @error="removeImage(image)" />
                </div>
              </div>
              
              <div class="row" v-if="!loading && !images.length">
                <div class="col-md-12">
                  <p>No images captured yet.</p>
                </div>
              </div>
            </div>

          </div><!-- End Bordered Tabs -->

        </div>
      </div>
    </dib>
  </div>

</template>

<script>
import axios from 'axios';

export default {
  props: ['id'],
  data() {
    return {
      taskId: this.$route.params.id,
      images: [], // Captured images will be stored here
      loading: false // Yüklenme durumu
    };
  },
  methods: {
    async executeTask() {
      this.loading = true; // Yüklenme durumu başlat
      try {
        const response = await axios.post(`/tasks/${this.taskId}/execute`);
        console.log(response.data);
        await this.fetchTaskImages(); // Resimleri çek
      } catch (error) {
        console.error('Error executing task:', error);
      } finally {
        this.loading = false; // Yüklenme durumu bitir
      }
    },
    async fetchTaskImages() {
      try {
        const response = await axios.get(`/tasks/${this.taskId}/images`);
        this.images = response.data.images || []; // Resimleri yükle, boşsa boş liste
      } catch (error) {
        console.error('Error fetching task images:', error);
        this.images = []; // Hata durumunda boş liste
      }
    },
    removeImage(image) {
      this.images = this.images.filter(img => img !== image);
    }
  },
  created() {
    this.fetchTaskImages();
  }
};
</script>

<style scoped>
/* Stil ayarları buraya */
</style>
