<template>
    <!-- <div>
        <h2>Task List</h2>
        <ul>
            <li v-for="task in tasks" :key="task.id">
                <router-link :to="{ name: 'TaskDetail', params: { id: task.id } }">{{ task.name }}</router-link>
                <p>{{ task.description }}</p>
                <ul>
                    <li v-for="drone in task.drones" :key="drone.id">
                        {{ drone.name }} 
                        <router-link :to="{ name: 'TaskEdit', params: { id: task.id } }">Edit</router-link>
                        <router-link :to="{ name: 'TaskExecute', params: { id: task.id } }">Execute</router-link>
                    </li>
                </ul>
            </li>
        </ul>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <router-link to="/tasks/create" class="btn btn-success mb-4" style="float:right">New Task</router-link>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Task List</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Working Drones</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="task in tasks" :key="task.id">
                                <th scope="row">{{ task.id }}</th>
                                <td>{{task.name}}</td>
                                <td>{{task.description}}</td>
                                <td>
                                    <div v-for="drone in task.drones" :key="drone.id">
                                        <span class="badge bg-secondary text-white">{{drone.name}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="">
                                        <router-link :to="{ name: 'TaskDetail', params: { id: task.id } }" class="btn btn-primary">Preview</router-link>
                                        <router-link :to="{ name: 'TaskEdit', params: { id: task.id } }" class="btn btn-success">Edit</router-link>
                                        <router-link :to="{ name: 'TaskExecute', params: { id: task.id } }" class="btn btn-danger">Execute</router-link>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            tasks: [] // Task listesi burada doldurulacak
        };
    },
    async created() {
        await this.fetchTasks(); // Component oluşturulduğunda task'leri getir
    },
    methods: {
        async fetchTasks() {
            try {
                const response = await this.$http.get('/tasks'); // /api/tasks endpoint'ine GET isteği yap
                this.tasks = response.data; // Gelen task'leri diziye ata
            } catch (error) {
                console.error('Failed to fetch tasks:', error);
            }
        }
    }
};
</script>

<style scoped>
/* Stillemeler buraya eklenebilir */
</style>