<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="card-title">Edit Task</h5>
                    </div>
                    <form @submit.prevent="updateTask">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">Task Name</label>
                            <div class="col-sm-12">
                                <input type="text" id="name" v-model="task.name" class="form-control" required />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">Task Description</label>
                            <div class="col-sm-12">
                                <input type="text" id="description" v-model="task.description" class="form-control" required />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-12 col-form-label">Related Drones</label>
                            <div class="col-sm-12">
                                <select id="drones" v-model="selectedDrones" multiple class="form-control" required>
                                    <option v-for="drone in drones" :key="drone.id" :value="drone.id">{{ drone.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="submit" @click="cancelEdit" class="btn btn-danger mx-2">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import axios from 'axios';

export default {
    props: ['id'],
    data() {
        return {
            task: {
                id: null,
                name: '',
                description: '',
                drones: []
            },
            drones: [],
            selectedDrones: []
        };
    },
    methods: {
        async updateTask() {
            try {
                const response = await axios.put(`/tasks/${this.id}`, {
                    name: this.task.name,
                    description: this.task.description,
                    drones: this.selectedDrones
                });
                console.log(response.data);
                this.$router.push('/tasks');
            } catch (error) {
                console.error(error);
            }
        },
        async fetchTask(taskId) {
            try {
                const response = await axios.get(`/tasks/${taskId}`);
                this.task = response.data;
                if (this.task.drones) {
                    this.selectedDrones = this.task.drones.map(drone => drone.id);
                }
            } catch (error) {
                console.error(error);
            }
        },
        async fetchDrones() {
            try {
                const response = await axios.get('/drones');
                this.drones = response.data;
            } catch (error) {
                console.error(error);
            }
        }
    },
    mounted() {
        this.fetchTask(this.id);
        this.fetchDrones();
    }
};
</script>

<style scoped>
/* Stil ayarları buraya */
</style>
