<template>
    <div class="row">
        <div class="col-12">
            <h1>UAV Monitoring Platform</h1>
            <h4>Use left side menu</h4>
            <button @click="logoutUser" class="btn btn-danger">Logout</button>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'HomeView',
  mounted() {
    const token = localStorage.getItem('token');
    if (!token) {
      this.$router.push({ name: 'LoginView' });
    }
  },
  methods: {
    logoutUser() {
      axios.post('/logout')
        .then(() => {
          localStorage.removeItem('token'); // Token'i localStorage'den kaldır
          this.$router.push({ name: 'LoginView' }); // Logout sonrası Login sayfasına yönlendir
        })
        .catch(error => {
          console.error('Logout failed:', error);
          // Opsiyonel olarak hata mesajı gösterebilirsiniz
        });
    }
  }
};
</script>
