<template>
    <!-- <div>
      <h2>Login</h2>
      <form @submit.prevent="loginUser">
        <label for="username">Username:</label>
        <input type="text" id="username" v-model="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="password" required>
        <br>
        <button type="submit">Login</button>
      </form>
    </div> -->
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="card mb-3">

                <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                        <p class="text-center small">Enter your username & password to login</p>
                    </div>

                    <form class="row g-3 needs-validation" @submit.prevent="loginUser" novalidate>

                        <div class="col-12">
                            <label for="yourUsername" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="text" id="username" v-model="username" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="yourPassword" class="form-label">Password</label>
                            <input type="password" id="password" v-model="password" class="form-control" required>

                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Login</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            username: '',
            password: ''
        };
    },
    methods: {
        loginUser() {
            axios.post('/login', {
                username: this.username,
                password: this.password
            })
                .then(response => {
                    localStorage.setItem('token', response.data.token);
                    alert('Login successful!');
                    this.$router.push({ name: 'HomeView' });
                    // handle success, e.g., redirect to protected page
                })
                .catch(error => {
                    alert('Login failed. Please check your credentials.');
                    console.error(error);
                });
        }
    }
};
</script>