<template>
    <div>
      <h2>Welcome, {{ username }}</h2>
      <button @click="logoutUser">Logout</button>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        username: ''
      };
    },
    mounted() {
      // Burada kullanıcı bilgisini alabilirsiniz (örneğin, localStorage'den token ile)
      // Kullanıcı adını ekranda gösterebilirsiniz.
    },
    methods: {
      logoutUser() {
        axios.post('/api/logout')
        .then(response => {
          localStorage.removeItem('token');
          alert('Logout successful!');
          // handle success, e.g., redirect to login page
        })
        .catch(error => {
          alert('Logout failed. Please try again.');
          console.error(error);
        });
      }
    }
  };
  </script>
  