<template>
  <div>
    <h2>Register</h2>
    <form @submit.prevent="registerUser">
      <label for="username">Username:</label>
      <input type="text" id="username" v-model="username" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" v-model="password" required>
      <br>
      <button type="submit">Register</button>
    </form>
    <p v-if="message">{{ message }}</p>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      username: '',
      password: '',
      message: '', // for displaying API response message
    };
  },
  methods: {
    registerUser() {
      axios.post('/register', {
        username: this.username,
        password: this.password
      })
      .then(response => {
        // Handle success response
        this.message = 'Registration successful!';
        console.log(response.data); 
        this.$router.push({ name: 'LoginView' });
      })
      .catch(error => {
        // Handle error response
        this.message = 'Registration failed. Please try again.';
        console.error(error);
      });
    }
  }
};
</script>
