<template>
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <router-link to="/" class="nav-link collapsed">
                    <i class="bi bi-menu-button-wide"></i>
                    <span>Dashboard</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/drones" class="nav-link collapsed">
                    <i class="bi bi-menu-button-wide"></i>
                    <span>Drones</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/tasks" class="nav-link collapsed">
                    <i class="bi bi-menu-button-wide"></i>
                    <span>Tasks</span>
                </router-link>
            </li>

        </ul>

    </aside>
</template>

<script>
export default {
    name: 'SidebarComponent'
};
</script>

<style scoped>
/* Sidebar stili buraya */
</style>